/*
 * Richard Davis
 * CSCI 4000
 * 04 May 2016
 * Assignment 5
 */

/* stylings for html and php documents */
header {
  background-color: #fbe5bc;
  border: 2px solid #f9d490;
  width: 45%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  padding: 1em;
}
h1 {
  font: 225% Georgia, serif;
  text-align: center;
  color: #71dac0;
}
body {
  background-color: white;
}
#main {
  background-color: #fef9f0;
  border: 2px solid #f9d490;
  border-top: none;
  width: 45%;
  height: 100%;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
#first_option {
  margin: 1em;

}
#second_option {
  margin: 1em;
}
h2 {
  font: 155% Georgia, serif;
  color: #0f0a01;
  margin-top: 0em;
  margin-bottom: 1em;
}
h3 {
  font: 145% Georgia, serif;
  color: #71dac0;
}
p {
  font: 105% Arial, Helvetica, sans-serif;
  color: #0f0a01;
}
label {
  font: 105% Arial, Helvetica, sans-serif;
  color: #0f0a01;
  width: 5em;
  padding: 1em;
  float: left;
}
select {
  margin: .5em;
  font: 105% Arial, Helvetica, sans-serif;
  color: #0f0a01;
  float: left;
  padding: .5em;
}
input[type="submit"] {
  font: 100% Arial, Helvetica, sans-serif;
  color: #0f0a01;
  float: left;
  margin-bottom: .5em;
  padding: 1em;
  background-color: #fbe5bc;
  border: 1px solid #f9d490;
  border-radius: 4px;
}
br {
  clear: left;
}
a {
  font: 110% Arial, Helvetica, sans-serif;
  color: #71dac0;
}
footer {
  clear: both;
  background-color: #fbe5bc;
  border: 2px solid #f9d490;
  border-top: 0px;
  width: 45%;
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
